# Java
**/target/
*.log
*.gz

# Node
**/node_modules/
package-lock.json

# IDEs
.idea/
.vscode/
.classpath
.project
.settings/
.metadata/

# OS
.DS_Store
.env


# Logs
*.log
logs/

# Maven Wrapper files
mvnw
mvnw.cmd
maven-wrapper.properties